{% extends "base.html" %}

{% block content%}
    <ul class="menu_list">
        <li class="menu_item"><a class="menu_link" href="/account/createUser">Клиент</a></li>
        <li class="menu_item"><a class="menu_link" href="/account/createService">Услуга</a></li>
        <li class="menu_item"><a class="menu_link" href="/account/createRecord">Запись на прием</a></li>
        <li class="menu_item"><a class="menu_link" href="/account/createFeedback">Ваш отзыв</a></li>
    </ul>        
{% endblock content %}